
<header>
  <h1>Admin Dashboard</h1>
  <!-- Add Admin Button -->
  <button class="add-admin-button" [routerLink]="['/add-admin']">+ Add Admin</button>
  <button class="logout" (click)="logout()">Log Out</button>
</header>

<div class="profile-container">
  <div class="profile-header">
    <img [src]="male" alt="Admin Profile Picture" class="profile-picture" />
    <div>
      <h2>{{admin.name}}</h2>
      <p>Admin | {{admin.email}}</p>
    </div>
  </div>

  <div class="actions">
    <h3>Admin Actions</h3>
    <button (click)="viewUsers()">View All Users</button>

    <!-- New Buttons -->
    <button (click)="manageProductCategories()">Manage Product Categories</button>
  </div>
</div>

<footer>
  <p>&copy; 2024 Admin Portal. All rights reserved.</p>
</footer>


