<div class="supplier-dashboard">
    <!-- Add Product -->
    <div class="dashboard-section" routerLink="/product-add">
      <h2>Add Product</h2>
      <p>Click here to add a new product.</p>
    </div>
  
    <!-- Delete Product -->
    <div class="dashboard-section" routerLink="/inventory-dashboard">
      <h2>Manage Inventories</h2>
      <p>Click here to delete an existing product.</p>
    </div>
  
    <!-- Update Product -->
    <div class="dashboard-section" routerLink="/product-update">
      <h2>Update Product</h2>
      <p>Click here to update product details.</p>
    </div>
  
    <!-- Product Details -->
    <div class="dashboard-section" routerLink="/product-details">
      <h2>AllProduct Details</h2>
      <p>View the details of all products here.</p>
    </div>
  </div>
  