<div class="product-details">
    <h2>Product Details</h2>
    <table>
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Supplier ID</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList; let i = index">
          <td>{{ product.productId }}</td>
          <td>{{ product.supplierId }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.description }}</td>
          <td>
          <button class="delete-btn" (click)="deleteProduct(product.productId)">
            Delete
          </button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  