<div class="add-container">
    <h2>Add Supplier</h2>

<form [formGroup]="addform" (ngSubmit)="add()">

    <div>
        <label>Name:</label>
        <input type="text" formControlName="name">
        <div class="errorMessage" *ngIf="f['name'].touched && f['name'].errors">
        <small *ngIf="f['name'].errors['required']">Name is required</small>
        <small *ngIf="f['name'].errors['pattern']">Name must contain only alphabets</small>
        </div>
    </div>

    <div>
        <label>Email:</label>
        <input type="text" formControlName="email">
        <div class="errorMessage" *ngIf="f['email'].touched && f['email'].errors">
        <small *ngIf="f['email'].errors['required']">Email is required</small>
        <small *ngIf="f['email'].errors['email']">Enter a valid email</small>
        </div>
    </div>


    <div class="password-container">
        <label>Password:</label>
        <input
          type="password"
          formControlName="password"
          (input)="onPasswordInput(password.value)"
          (blur)="onPasswordBlur(password.value)"
          #password
        />
        <div class="errorMessage" *ngIf="f['password'].touched && f['password'].errors?.['required']">
            <small>Password is required</small>
          </div>
      
        <!-- Password Validation Rules Drop-Down -->
        <ul class="password-rules"
            *ngIf="showPasswordBox">
          <li [ngClass]="{'valid': rules.uppercase, 'invalid': !rules.uppercase}">
            <span>&#x2713;</span> At least one uppercase letter
          </li>
          <li [ngClass]="{'valid': rules.lowercase, 'invalid': !rules.lowercase}">
            <span>&#x2713;</span> At least one lowercase letter
          </li>
          <li [ngClass]="{'valid': rules.specialChar, 'invalid': !rules.specialChar}">
            <span>&#x2713;</span> At least one special character or number
          </li>
          <li [ngClass]="{'valid': rules.minLength, 'invalid': !rules.minLength}">
            <span>&#x2713;</span> Minimum 8 characters
          </li>
        </ul>
      </div>

    <div>
        <label>Address:</label>
        <input type="text" formControlName="address">
        <div class="errorMessage" *ngIf="f['address'].touched && f['address'].errors">
        <small *ngIf="f['address'].errors['required']">Address is required</small>
        </div>
    </div>

    <div>
        <label>MobileNumber:</label>
        <input type="number" formControlName="mobileNumber">
        <div class="errorMessage" *ngIf="f['mobileNumber'].touched && f['mobileNumber'].errors">
        <small *ngIf="f['mobileNumber'].errors['required']">MobileNumber is required</small>
        <small *ngIf="f['mobileNumber'].errors['pattern']">MobileNumber Invalid</small>
        </div>
    </div>

    <div>
        <label>CompanyName:</label>
        <input type="text" formControlName="companyName">
        <div class="errorMessage" *ngIf="f['companyName'].touched && f['companyName'].errors">
        <small *ngIf="f['companyName'].errors['required']">CompanyName is required</small>
        </div>
    </div>
    

    <button [disabled]="addform.invalid">Submit</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</form>

</div>

